{% extends 'backend/head.html' %}
{%load static %}
{%block active%}
<div class="navbar-nav w-100">
    <a href="/attencemainpage/" class="nav-item nav-link active"><i class="fa fa-tachometer-alt me-2"></i>Attendance</a>
    <!-- <a href="/backend/tablet/" class="nav-item nav-link"><i class="fa fa-table me-2"></i>Tablets</a>
    <a href="/backend/searchall/" class="nav-item nav-link"><i class="fa fa-th me-2"></i>All DATAs</a>
    <div class="nav-item dropdown">
        <a href="/backend/index" class="nav-link dropdown-toggle"  data-bs-toggle="dropdown"><i class="fa fa-laptop me-2"></i>Elements</a>
        <div class="dropdown-menu bg-transparent border-0">
            <a href="/button" class="dropdown-item">Buttons</a>
            <a href="/typography" class="dropdown-item">Typography</a>
            <a href="/element" class="dropdown-item">Other Elements</a>
        </div>
    </div>
    <a href="/backend/opp/" class="nav-item nav-link"><i class="fa fa-keyboard me-2"></i>Appointment</a>
    
    <a href="/chart" class="nav-item nav-link"><i class="fa fa-chart-bar me-2"></i>Charts</a>
    <div class="nav-item dropdown">
        <a href="#" class="nav-link dropdown-toggle" data-bs-toggle="dropdown"><i class="far fa-file-alt me-2"></i>Pages</a>
        <div class="dropdown-menu bg-transparent border-0">
            <a href="/signin" class="dropdown-item">Sign In</a>
            <a href="/signup" class="dropdown-item">Sign Up</a>
            <a href="/404" class="dropdown-item">404 Error</a>
            <a href="/blank" class="dropdown-item">Blank Page</a>
        </div>
    </div> -->
</div>
{% endblock%}
{% block main %}
<style>
    .classic-button {
  background-color: #42fbe5; /* light gray background */
  border: 1px solid #17fff7; /* light gray border */
  border-radius: 10px; /* slight rounded corners */
  padding: 5px 10px; /* add some padding */
  font-size: 16px; /* increase font size */
  font-weight: bold; /* make the text bold */
  cursor: pointer; /* change the cursor to a pointing hand */
}
</style>
<div class="container-fluid pt-4 px-4">
    <div class="bg-secondary text-center rounded p-4">
        <div class="d-flex align-items-center justify-content-center mb-4">
            <h4 class="text-center">
              **_** {{key}} **_** <br><br>
              <span>
                day-{{day}}-{{date}}-{{hors}}
              </span>
            </h4>
          </div>
        <form method="POST">
            {%csrf_token%}
            {%for i in student%}
            <input type="hidden" value="0" name="{{i.regnumber}}">
            <input type="checkbox" class="btn-check" id="{{i.id}}" value="1" autocomplete="off" name="{{i.regnumber}}">
            <label class="btn btn-outline-primary" for="{{i.id}}">{{i.name}}--{{i.regnumber}}</label>
            {%endfor%}
       <br> <input type="submit" value="Submit" class="classic-button bg-gray-200 hover:bg-gray-300 text-gray-800 font-bold py-2 px-4 rounded">
</form>
<h1 class="text-center">{{finshed}}</h1>
    </div>
</div>

{%endblock%}