{% extends 'backend/head.html' %}
{%load static %}
{%block active%}
<div class="navbar-nav w-100">
    <a href="/home/" class="nav-item nav-link active"><i class="fa fa-tachometer-alt me-2"></i>Dashboard</a>
    <a href="/mainpanal/" class="nav-item nav-link"><i class="fa fa-table me-2"></i>day Order</a>
    <!-- <a href="/backend/searchall/" class="nav-item nav-link"><i class="fa fa-th me-2"></i>All DATAs</a>
    <div class="nav-item dropdown">
        <a href="/backend/index" class="nav-link dropdown-toggle"  data-bs-toggle="dropdown"><i class="fa fa-laptop me-2"></i>Elements</a>
        <div class="dropdown-menu bg-transparent border-0">
            <a href="/button" class="dropdown-item">Buttons</a>
            <a href="/typography" class="dropdown-item">Typography</a>
            <a href="/element" class="dropdown-item">Other Elements</a>
        </div>
    </div>
    <a href="/backend/opp/" class="nav-item nav-link"><i class="fa fa-keyboard me-2"></i>Appointment</a>
    
    <a href="/chart" class="nav-item nav-link"><i class="fa fa-chart-bar me-2"></i>Charts</a>
    <div class="nav-item dropdown">
        <a href="#" class="nav-link dropdown-toggle" data-bs-toggle="dropdown"><i class="far fa-file-alt me-2"></i>Pages</a>
        <div class="dropdown-menu bg-transparent border-0">
            <a href="/signin" class="dropdown-item">Sign In</a>
            <a href="/signup" class="dropdown-item">Sign Up</a>
            <a href="/404" class="dropdown-item">404 Error</a>
            <a href="/blank" class="dropdown-item">Blank Page</a>
        </div>
    </div> -->
</div>
{% endblock%}
{% block main %}
<div class="container-fluid pt-4 px-4">
    <div class="bg-secondary text-center rounded p-4">
        <div class="d-flex align-items-center justify-content-between mb-4">
            <h6 class="mb-0">Recent pasent</h6>
            <a href="">Show All</a>
        </div>
<div class="container ">
    <form id="departmentForm" method="POST">
        {%csrf_token%}
        <div class="mb-3">
            <label for="deptType" class="form-label" >Department Type</label>
            <select class="form-select" id="deptType" name="department">
                        <option value="UG">Undergraduate (UG)</option> 
                        <option value="PG">Postgraduate (PG)</option>
                            
                   </select>
        </div>
        <div class="mb-3">
            <label for="deptName" class="form-label" >Department Name</label>
            <input type="text" class="form-control" name="departmentname" id="deptName">
        </div>
        <button type="submit" class="btn btn-primary">Submit</button>
    </form>
</div>
    </div>
</div>


<div class="container-fluid pt-4 px-4">
    <div class="bg-secondary text-center rounded p-4">
        <div class="d-flex align-items-center justify-content-between mb-4">
            <h6 class="mb-0">Undergraduate (UG)</h6>
        </div>
        <div class="table-responsive">
            <table class="table text-start align-middle table-bordered table-hover mb-0">
                  
    <thead>
        <tr>
            <th>department</th>
            <th>1_year</th>
            <th>2_year</th>
            <th>3_year</th>
            <th>action</th>
            
        </tr>

    </thead>
    <tbody>
        {%for i in ug%}
        <tr>
            

    <td>{{i.department}}</td>
    <td>  <a href="{% url 'student_details' i.year1 %}">{{i.year1}}</a></td>
    <td>  <a href="{% url 'student_details' i.year2 %}">{{i.year2}}</a></td>
    <td>  <a href="{% url 'student_details' i.year3 %}">{{i.year3}}</a></td>
    <td>  <a href="{% url 'student_deleteug' i.id %}">Delete</a></td>
   

            
        </tr>
        {%endfor%}
    </tbody>
            </table>
        </div>
    </div>
</div>



<div class="container-fluid pt-4 px-4">
    <div class="bg-secondary text-center rounded p-4">
        <div class="d-flex align-items-center justify-content-between mb-4">
            <h6 class="mb-0">Postgraduate (PG)</h6>
        </div>
        <div class="table-responsive">
            <table class="table text-start align-middle table-bordered table-hover mb-0">
                  
    <thead>
        <tr>
            <th>department</th>
            <th>1_year</th>
            <th>2_year</th>
            
        </tr>

    </thead>
    <tbody>
        {%for i in pg%}
        <tr>
            

    <td>{{i.department}}</td>
    <td>  <a href="{% url 'student_details' i.year1 %}">{{i.year1}}</a></td>
    <td>  <a href="{% url 'student_details' i.year2 %}">{{i.year2}}</a></td>
    <td>  <a href="{% url 'student_deletepg' i.id %}">Delete</a></td>
   

            
        </tr>
        {%endfor%}
    </tbody>
            </table>
        </div>
    </div>
</div>


    
</body>

</html>
{%endblock%}