{% extends 'backend/head.html' %}
{%load static %}
{%block active%}
<div class="navbar-nav w-100">
    
        <a href="/mainpage/" class="nav-item nav-link active"><i class="fa fa-tachometer-alt me-2"></i>Dashboard</a>
        <!-- <a href="/mainpanal/" class="nav-item nav-link"><i class="fa fa-table me-2"></i>day Order</a> -->
    <!-- <a href="/backend/searchall/" class="nav-item nav-link"><i class="fa fa-th me-2"></i>All DATAs</a>
    <div class="nav-item dropdown">
        <a href="/backend/index" class="nav-link dropdown-toggle"  data-bs-toggle="dropdown"><i class="fa fa-laptop me-2"></i>Elements</a>
        <div class="dropdown-menu bg-transparent border-0">
            <a href="/button" class="dropdown-item">Buttons</a>
            <a href="/typography" class="dropdown-item">Typography</a>
            <a href="/element" class="dropdown-item">Other Elements</a>
        </div>
    </div>
    <a href="/backend/opp/" class="nav-item nav-link"><i class="fa fa-keyboard me-2"></i>Appointment</a>
    
    <a href="/chart" class="nav-item nav-link"><i class="fa fa-chart-bar me-2"></i>Charts</a>
    <div class="nav-item dropdown">
        <a href="#" class="nav-link dropdown-toggle" data-bs-toggle="dropdown"><i class="far fa-file-alt me-2"></i>Pages</a>
        <div class="dropdown-menu bg-transparent border-0">
            <a href="/signin" class="dropdown-item">Sign In</a>
            <a href="/signup" class="dropdown-item">Sign Up</a>
            <a href="/404" class="dropdown-item">404 Error</a>
            <a href="/blank" class="dropdown-item">Blank Page</a>
        </div>
    </div> -->
</div>
{% endblock%}
{% block main %}

<!--  Move the ug loop outside the department loop 
    <style>
        .box {
            background-color: #0c0c0c;
            border: 1px solid #dee2e6;
            padding: 20px;
            text-align: center;
            margin-bottom: 15px;
        }
    </style>  

<div class="container-fluid">
    <div class="row row-reverse">
        {% for item in ug %}
        <div class="col-sm-4">
            <div class="box">
                <h6>{{ item.dep }}</h6>
                <p>{{ item.hor }}</p>
                <p>Count: {{ item.student }}</p>
                
            </div>
        </div>
        {% endfor %}
    </div>
</div> -->


<div class="container-fluid pt-4 px-4">
    <div class="row g-4">
<h6 class="text-center">UG</h6>
    
           
{%for i in ug %}
<div class="col-sm-6 col-xl-4">
    <div class="bg-secondary rounded d-flex align-items-center justify-content-between p-4">
        <i class="text-primary">{{i.hor}}</i>
        
        <div class="ms-3">
            <p class="mb-2">{{i.dep}}</p>
            <h6 class="mb-0">Student-{{i.student}}</h6>
        </div>
    </div>
</div>
{%endfor%}
</div>
</div>
<div class="container-fluid pt-4 px-4">
    <div class="row g-4">
        <h6 class="text-center">PG</h6>
    
           
{%for i in pg %}
<div class="col-sm-6 col-xl-4">
    <div class="bg-secondary rounded d-flex align-items-center justify-content-between p-4">
        <i class="text-primary">{{i.hor}}</i>
        
        <div class="ms-3">
            <p class="mb-2">{{i.dep}}</p>
            <h6 class="mb-0">Student-{{i.student}}</h6>
        </div>
    </div>
</div>
{%endfor%}
</div>
</div>
   

        {%for i in departmentpg%}
        <div class="container-fluid pt-4 px-4">
            <div class="row g-4">
                <div class="col-sm-6 col-xl-3">
                    <div class="bg-secondary rounded d-flex align-items-center justify-content-between p-4">
                       
                        <div class="ms-3">
                            <p class="mb-2 text-primary">{{i}}</p>
                            <h6 class="mb-0"></h6>
                        </div>
                    </div>
                </div>     
    {%for i in pg %}
        <div class="col-sm-6 col-xl-3">
            <div class="bg-secondary rounded d-flex align-items-center justify-content-between p-4">
                <i class="text-primary">{{i.std}}</i>
                <div class="ms-3">
                    <p class="mb-2">{{i.dep}}</p>
                    <h6 class="mb-0">{{i.def}}</h6>
                </div>
            </div>
        </div>
    {%endfor%}
    </div>
</div>
    {%endfor%}
    <!-- JavaScript Libraries -->
    

    <!-- Template Javascript -->
    
</body>

</html>
{%endblock%}